<html>

<head>
    <p style="text-align:center;">
        <img src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_92x30dp.png" alt="Google" />
    </p>
</head>

<body>
    <p>
        <b>Hello ##USERNAME##,</b>
    </p>
    <p>
        Welcome to SweetVendors!
    </p>
    <p>
        Your account with SweetVendors has been created sucessfully. Please click the following link to activate your account.
    </p>
    <p style="text-align:center;">
        <a href="##ACTIVATION_LINK##" class="w3-btn w3-green">Activate Your Account</a>
    </p>
</body>

</html>
